@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3 {
  font-weight: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-tight {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.t-left {
  text-align: left;
}

.no-patients {
  text-align: center;
  color: lighten($text-primary, 40%);
  font-size: 2em;
}